@import "src/variable.scss";

.card-row{
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 10px;   
}

.card-col{
    width:50%;
    white-space: normal;
}
.card-col-incompletetask{
    display: inline-block;
}
.cards{
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: $primaryBackground;
    border:1px solid $borderColor;
    text-align: left;

}
.card-col-intask{
    position: relative;
    display: flex;
}
.text-style{
    text-decoration-line: line-through;
}
.checkbox-col{
    width: -5%;
    position: absolute;
}
.text-col{
    width:85%;
}
.vertical-break{
    border-left: 1.5px solid darkgray;
}
.modal{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    align-items:center;
    justify-content: center;
}
.alignment{
margin-left: 700px;
}
.modal-content{
    width:500px;
    background-color: white;
}
.modal-header, .modal-footer{
    padding: 10px;
}
.modal-title{
    margin:0;
}

.modal-body{
    padding:10px;
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee;
}
.button{
    width:100%;
}
