@import "src/variable.scss";

.primary-button {
    padding: $buttonPadding;
    border: 2px solid $primaryGrey;
    color: $white;
    background: $primaryGrey;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.secondary-button {
    padding: $buttonPadding;
    border: 2px solid $secondaryBlue;
    color: $secondaryBlue;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.delete-button {
    padding: $buttonPadding;
    border: 2px solid $primaryRed;
    color: $primaryRed;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}