/*Custom CSS Styling*/
@import "src/variable.scss";

.react-bootstrap-drawer{
    z-index: 0!important;
}

.horizontal-break {
    border-bottom: 1px solid $borderColor;
    height: 1px;
    width: 100%;
    display: inline-block;
    margin: 0.5rem 0rem;
}

.page-container {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.page-header-container {
    margin: 0rem 0.5rem;
}

.page-content-container {
    background: $white;
    border-radius: 0.5rem;
    margin: 0.5rem;
    height: calc(100% - 3rem);
    box-shadow: $contentBoxShadow;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.required {
    &::after {
        content: '*';
        color: red;
    }
}

.inline-date-control {
    display: flex;

    .start-date {
        margin-right: 0.5rem;
    }
}